[Unit]
Description=Namecoind-testnet
After=network.target

[Service]
ExecStart=/usr/local/bin/namecoind -conf=namecoin.conf -daemon -testnet -printtoconsole -pid=/namecoin/namecoind-testnet.pid
ExecStop=/usr/local/bin/namecoin-cli -testnet stop

Type=forking
PIDFile=/namecoin/namecoind-testnet.pid
Restart=on-failure

User=namecoin
Group=namecoin

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
